/* CSS variables */
:root {
    --font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Universal rules */
* {
    font-family: var(--font-family);
    font-size: 16px;
}

body {
    margin: 0;
    background-color: gainsboro;
}

/* Adjusting Header sizes */
h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

/* Header and nav bar styling */
header {
    margin: 0;
    padding: 20px 0;
    background-color: rgb(49, 72, 112);
    background-image: linear-gradient(rgb(49, 72, 112), rgb(50, 29, 66));
    display: flex;
    justify-content: space-between;
}

header h1 {
    margin-left: 10px;
    color: antiquewhite;
    font-family: var(--font-family);
    font-weight: bolder;
}

header nav {
    align-items: end;
    display: flex;
    margin: 0 5px 5px 0;
    font-family: var(--font-family);
}

.nav-link {
    color: aqua;
    margin: 0 10px;

}

/* Background image styling */
.bg-image {
    height: 400px;
    width: 100%;
    margin: 0;
    background-image: url("../images/code-bg-image.webp");
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-repeat: repeat;
    background-position: center center;
    background-size: cover;
}

.bg-image::after {
    content: "My cool subtitle";
    background-color: aqua;
    margin-right: 10px;
}

/* About Me section */
#about-me {
    margin: 10px;
    text-align: center;
}

#about-me h2 {
    border-bottom: 5px solid darkblue;
    color: darkblue;
}

#about-me img {
    width: 20%;
}

#about-me p {
    color: darkblue;
}

/* Work section */
#work {
    margin: 10px;
}

#work h2 {
    border-bottom: 5px solid darkblue;
    color: darkblue;
}

/* Work card styling */
#card-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    flex: 1 1 45%;
    border: 3px solid aqua;
    margin: 5px;
}

.card::after {
    position: relative;
    padding: 5px 10px;
    bottom: 20%;
    content: attr(data-heading);
    background-color: aqua;
    margin: 10px 0;;
    font-size: 100%;
    /* max-width: 50%; */
}

.card img {
    width: 100%;
    height: 100%;
}

/* First .card in #card-container  try nth-child(1)*/
#card-container a:first-of-type {
    flex: 1 1 100%;
}


/* Contact Me section */
#contact-me {
    margin: 10px;
}

#contact-me h2 {
    border-bottom: 5px solid darkblue;
    color: darkblue;
}

#contact-me nav {
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}

/* Resume section */
#resume {
    margin: 10px;
}

#resume h2 {
    border-bottom: 5px solid darkblue;
    color: darkblue;
}

#resume p {
    color: darkblue;
    text-align: center;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    * {
        font-size: 12px;
    }
    
}